# Server Configuration
PORT=YOUR_PORT
NODE_ENV=

# JWT Secret (change this in production!)
JWT_SECRET=YOUR_SECRETE_KEY

# Database Configuration
# Set to 'mysql' to use MySQL, leave empty or set to 'sqlite' for SQLite (default)
DB_TYPE= DB_TYPE

# MySQL Configuration (only needed if DB_TYPE=mysql)
DB_HOST=YOUR_DB_HOST
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_NAME=YOUR_DB_NAME